body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-image:url('https://images.unsplash.com/photo-1611928482473-7b27d24eab80?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jose-g-ortega-castro-tS4Pl_8F3fY-unsplash.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 100px;
}

#location {
    padding: 8px;
    font-size: 16px;
}

#search {
    padding: 8px 16px;
    
    color: #040404;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

main {
    padding: 20px;
    text-align: center;
}

.weather-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: inline-block;
    text-align: center;
}



.temperature {
    font-size: 24px;
    margin-top: 10px;
}

.description {
    font-size: 18px;
    color: #000000;
}

