body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-image:url('https://images.unsplash.com/photo-1611928482473-7b27d24eab80?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jose-g-ortega-castro-tS4Pl_8F3fY-unsplash.jpg');
    background-repeat: no repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

header {
    
    color: #fff;
    padding: 20px;
    text-align: center;
}
